body{
    font-family: monospace;
    font-size:1.0em;
    background-color: #111111;
    color:#eeeeee;
    text-align: center;
}
#chatWindow{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top:0;
    left:0;
    right:0;
    height:50vh;
    overflow: auto;
}
#chatWindow > div{
    flex:1 auto;
    padding:5px;
    margin:5px;
    text-align: center;
    background-color: #ffffff;
    color:#cccccc;
    border-radius: 10px;
    word-break: break-all;
}
#subWindow{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height:50vh;
    overflow: auto;
}
#subWindow > div{
    flex:1 auto;
    padding:5px;
    margin:5px;
    text-align: center;
    background-color: #8af202;
    color:#000000;
    border-radius: 10px;
    word-break: break-all;
}

/*
*/
#info{
    color:#8c8c8c;
}
#channel{
    color:#cccccc;
}
#timer{
    color:#cccccc;
}
#username{
    font-weight: 900;
    font-size:1.3em;
    margin:5px;
}
#message{
    font-size:1.2em;
    color:#000000;
    text-align: left;
    margin:5px;
}

/**/
#newStreamer{
    width:50%;
    padding:20px;
    outline:none;
    border:none;
    font-size:22px;
    border-radius:8px;
    background-color: #ffffff;
    color:#000000;
}
#newAuth{
    width:50%;
    padding:20px;
    outline:none;
    border:none;
    font-size:22px;
    border-radius:8px;
    background-color: #ffffff;
    color:#000000;
}
#connect:hover{
    background-color: #6cb110;
}
#connect{
    padding:20px;
    outline:none;
    border:none;
    font-size:22px;
    border-radius:8px;
    background-color: #8af202;
    color:#000000;
    font-weight: bold;
    cursor: pointer;
}